---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
---

<Layout
	title="Natalia Kyrylova - Salon fryzjerski"
	description="Oferujemy wysokiej jakości usługi fryzjerskie, koloryzację, stylizację i pielęgnację włosów. Zaufaj naszemu doświadczeniu i profesjonalnemu podejściu. Zapraszamy do naszego salonu fryzjerskiego w Zorach"
>
	<main class="">
		<Hero />
	</main>
</Layout>

<style></style>
