<section class="pt-28 md:pt-36 lg:pt-32">
    <div class="bg-[#687E79] relative h-64 md:h-72 lg:hidden">
        <img
            class="absolute bottom-0 left-0 right-0 m-auto w-52 md:w-60"
            src="/natalia-nobg.png"
            alt=""
        />
    </div>
    <div class="bg-[#4A625C]">
        <div class="container lg:flex">
            <div class="relative w-80 shrink-0 hidden lg:block mr-14">
                <img
                    class="absolute bottom-0 left-0 right-0 m-auto w-full"
                    src="/natalia-nobg.png"
                    alt=""
                />
            </div>
            <div class="py-10 lg:py-32">
                <h1
                    class="text-white font-display font-bold tracking-wider text-2xl lg:text-3xl"
                >
                    O mnie
                </h1>
                <p class="text-neutral-200 mt-4 tracking-wide">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras eget sem quam. Orci varius natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Sed interdum,
                    enim et iaculis iaculis, ex augue vestibulum augue, ac
                    venenatis mi lectus sed ipsum. Sed orci nibh, vehicula sed
                    turpis sit amet, rhoncus fringilla sapien. Etiam ultricies,
                    justo sed porta egestas, neque nibh suscipit turpis, eget
                    pulvinar ipsum dui non mauris.
                </p>
            </div>
        </div>
    </div>
</section>
