<footer class="bg-neutral-950 py-6">
    <div class="container">
        <p class="text-neutral-300 text-sm">
            © 2023 Wszelkie prawa zastrzeżone. Stworzone przez <a
                class="underline"
                href="https://github.com/devmilek"
                target="_blank">Miłosz Kraiński</a
            >
        </p>
    </div>
</footer>
