<footer class="bg-neutral-950 py-6">
    <div class="container">
        <p class="text-neutral-300 text-sm">
            © 2023 Wszelkie prawa zastrzeżone. Stworzone przez <span
                class="underline">Miłosz Kraiński</span
            >
        </p>
    </div>
</footer>
