---
import { Icon } from "astro-icon";
import SocialMedia from "./SocialMedia.astro";
---

<header class="navbar" id="nav">
    <nav class="container">
        <!-- LOGO -->
        <a href="/" class="logo">
            <img class="h-7 md:h-8" src="/logo.svg" alt="NK - Logo" />
            <h1 class="logomark">Natalia Kyrylova</h1>
        </a>

        <!-- NAVITEMS -->
        <ul class="nav-items">
            <li class="nav-item"><a href="/#stylizacje">Stylizacje</a></li>
            <li class="nav-item"><a href="/#o-mnie">O mnie</a></li>
            <li class="nav-item"><a href="/#kontakt">Kontakt</a></li>
        </ul>

        <!-- MOBILE NAVITEMS -->
        <div class="mobile-nav-items">
            <div class="items-container">
                <ul>
                    <li class="nav-item">
                        <a href="/#stylizacje">Stylizacje</a>
                    </li>
                    <li class="nav-item"><a href="/#o-mnie">O mnie</a></li>
                    <li class="nav-item"><a href="/#kontakt">Kontakt</a></li>
                </ul>
                <div class="w-full md:hidden lg:ml-6 ml-2">
                    <SocialMedia />
                </div>
            </div>
        </div>

        <!-- SOCIAL MEDIA -->
        <div class="hidden md:flex ml-auto lg:ml-6">
            <SocialMedia />
        </div>

        <!-- BURGER -->
        <div class="cursor-pointer lg:hidden ml-auto md:ml-6" id="nav-trigger">
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M3.75 6.75H20.25M3.75 12H20.25M3.75 17.25H20.25"
                    stroke="#1F2937"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </div>
    </nav>
</header>

<style lang="scss">
    .navbar {
        @apply fixed inset-x-0 w-full z-50 border-b bg-white;
    }

    .navbar > .container {
        @apply flex items-center h-16;
    }

    .logo {
        @apply flex items-center space-x-4 md:space-x-5;
        .logomark {
            @apply font-display font-medium uppercase tracking-widest md:text-lg text-neutral-800;
        }
    }

    .nav-items {
        @apply hidden lg:flex space-x-4 ml-auto;

        .nav-item {
            @apply tracking-wide text-neutral-500 cursor-pointer hover:text-neutral-800 font-medium transition-colors;
        }
    }

    // .navbar .mobile-nav-items {

    // }

    .navbar .mobile-nav-items {
        @apply fixed w-80 -right-80 pt-16 top-0 -z-10 h-screen lg:hidden border-l bg-white shadow-lg transition-all;
    }

    .navbar.active .mobile-nav-items {
        @apply right-0;
    }

    .navbar .mobile-nav-items .items-container {
        @apply px-4 py-4 space-y-4;
    }

    .navbar .mobile-nav-items .nav-item {
        @apply tracking-wide text-neutral-500 cursor-pointer hover:text-neutral-800 font-medium transition-colors hover:bg-gray-50 px-4 py-2 rounded-lg;
    }
</style>

<script>
    const navTrigger = document.getElementById("nav-trigger");
    const nav = document.getElementById("nav");

    navTrigger?.addEventListener("click", () => {
        console.log("asd");
        nav?.classList.toggle("active");
    });
</script>
