---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<title>{title}</title>
		<!-- OG TAGS -->
		<meta
			property="og:title"
			content="Natalia Kyrylova - Salon fryzjerski"
		/>
		<meta
			property="og:description"
			content="Oferujemy wysokiej jakości usługi fryzjerskie, koloryzację, stylizację i pielęgnację włosów. Zaufaj naszemu doświadczeniu i profesjonalnemu podejściu."
		/>
		<meta property="og:url" content="nataliiakyrylova.pl" />
	</head>
	<body>
		<Navbar />
		<main class="overflow-hidden min-h-screen">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
	body {
		@apply antialiased;
	}

	.container {
		@apply mx-auto;
	}

	html {
		scroll-behavior: smooth;
	}
</style>
